.window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.limit {
    color: red;
 /*   background-color: red;
    border-radius: 50%;
    padding: 25px;*/
}