.counter {
    display: flex;
    justify-content: space-around;
}

.showSettings {
    width: 300px;
    height: 300px;
    border: solid 2px blue;
    background-color: cornflowerblue;
    border-radius: 20px;
}

.showDisplay {
    width: 300px;
    height: 300px;
    border: solid 2px blue;
    background-color: cornflowerblue;
    border-radius: 20px;
}

.display {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
    margin: 5%;
    font-size: 40px;
    text-align: center;
    background-color: powderblue;
    color: blue;
    border: 2px solid blue;
    border-radius: 20px;
    font-family: BATAVIA;

}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin: 5%;
    background-color: powderblue;
    color: blue;
    border: 2px solid blue;
    border-radius: 20px;

}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}