.counter {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border: solid 2px blue;
   background-color: cornflowerblue;
    padding: 30px;
    border-radius: 20px;
}


.display {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    height: 90px;
    background-color: powderblue;
    color: blue;
    border: 2px solid blue;
    border-radius: 20px;
    font-family: BATAVIA ;
}
