.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root.light {
    background: #eaf2f1;
    color: #001f3f;
    --mainBackground: #e0e0e0;
    --buttonBackground: #eaf2f1;
    --boxShadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;;
}

.root.dark {
    background: #32354e;
    color: whitesmoke;
    --mainBackground: #3e4274;
    --buttonBackground: #9399ec;
    --boxShadow: -20px -20px 20px #474c85;
}

.main {

    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: center;
    border-radius: 30px;
    background: var(--mainBackground);
    box-shadow: var(--boxShadow)


}

.container {
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    flex-direction: column;
}

.display {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.displayError {
    color: red;
}


.settings {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.toggleMode {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
}
